table {
  width: 100%;
}
.mat-column-parameterName {
  width: 130px;
}
.mat-column-parameterDescription {
  width: 150px;
}
.mat-column-parameterType {
  width: 130px;
}
.mat-column-parameterFormat {
  width: 130px;
}
.mat-column-mandatoryFlag {
  width: 130px;
}
.mat-column-visibleFlag {
  width: 130px;
}
.mat-column-defaultValue {
  width: 130px;
}
.mat-column-regexforValidation {
  width: 130px;
}
.mat-column-regexforValidation {
  width: 130px;
}
.container{
    margin-top: 4%;
}